* { padding: 0px; margin: 0px; }
		
body {
	background-color: black;
}
		
div.input {
	width: 100%;
	display: block;
	box-sizing: border-box;
}

div.input textarea {
	padding: 8px;
	width: 100%;
	display: block;
	box-sizing: border-box;
	font-size: 18px;
	font-family: Hack;
}

div.output {
	background-color: black;
	color: white;
}		

div.output div.echo pre {
	font-style: italic;
	color: #afafaf;
	box-sizing: border-box;
}

div.output pre {
	font-family: Hack, Consolas, Monaco, monospace;
	font-size: 16px;
}