* { padding: 0px; margin: 0px }

div.chibi {
	background-color: deepskyblue;
	padding: 16px;
	position: absolute;
	bottom: 0px;
}

div.chibi textarea {
	padding: 8px;
	font-size: 18px;
	background-color: black;
	color: white;
}
