* {
	padding: 0px;
	margin: 0px;
}

body {
	background-color: black;
	color: deeppink;
}

.console {
	font-family: Hack, Consolas, Monaco, monospace;
	background-color: deeppink;
	color: black;
	padding: 8px;
	position: absolute;
	bottom: 0px;
	width: 70%;
}

.prompt {
	float: left;
}

.command {
	outline: none;
	margin-left: 16px;	
}

.monitor {
	font-family: Hack, Consolas, Monaco, monospace;	
}